extends _layout
block content
  div
    p email
    input#reg_email(type='email')
    p username
    input#reg_username(type='text')
    p password
    input#reg_password(type='password')
    p password confirmation
    input#reg_passconf(type='password')
    #post_register.button register