@import (inline) '_reset.css';

p, div, h1, h2, h3, h4, h5, h6 {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

body {
  background-color: grey;
  color: white;
}

.header {
  display: flex;
  background-color: dimgrey;
}

.button {
  padding: 6px;
  background-color: darkblue;
  color: white;
}

.button:hover, .button:focus {
  background-color: blue;
  cursor: pointer;
}

.hidden {
  display: none;
}

.fill {
  flex: 1;
}

.cont1 {
  display: flex;
  justify-content: space-between;
}

.cont2 {
  width: 275px;
}

.cont3 {
  display: flex;
  justify-content: center;
}

.cont4 {
  display: flex;
  justify-content: space-between;
  width: 80px;
  margin: 20px auto;
}

.dropdown {
  position: absolute;
  // right: 0;
  width: 100px;
}