.header
  a.button(href='/') home
  .fill
  if isLoggedIn
    a.button(href='/i/new') new
    //- a.button(href='#') cart
    #logout.button logout
  else
    a.button(href='/u/register') register
    a.button(href='/u/login') login