.flex.v.box
  input#search.txtbox(type='search' placeholder='search')
  div
    #wordbox.hidden
  p title
  #search_title.flex.v.indent
    if query.title
      .flex
        p.title= query.title
        .minus -
  p creator
  #search_creator.flex.v.indent
    if query.creator
      each creator in query.creator
        .flex
          p.creator= creator
          .minus -
  p tag
  #search_tag.flex.v.indent
    if query.tag
      each tag in query.tag
        .flex
          p.tags= tag
          .minus -
  p username
  #search_username.flex.v.indent
    if query.username
      .flex
        p.title= query.username
        .minus -
  .flex
    .flex.v
      p min
      input#min_price.numbox(type='text' value= query.min)
    .flex.v
      p max
      input#max_price.numbox(type='text' value= query.max)
  .flex.front
    #search_submit.button search