extends _layout

append scripts
  script(src='/js/login.js')

block content
  .pad
    if isLoggedIn
      p you are logged in
    else
      input#login_username(type='text' placeholder='username')
      br
      .spacev
      input#login_password(type='password' placeholder='password')
      .spacev
      .flex
        #login_submit.button login
        .fill