extends _layout

append scripts
  script(src='/js/register.js')

block content
  .pad
    //- .cont1
    //-   p email
    //-   input#reg_email(type='email')
    p username
    input#reg_username(type='text')
    .spacev
    p password
    input#reg_password(type='password')
    //- p confirm password
    //- input#reg_passconf(type='password')
    .spacev
    .flex
      #post_register.button register
      .fill